<!DOCTYPE html>
<html lang="ja" class="translated-ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HOME</title>
	<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
	<!-- header背景色設定用 CSS -->
	<link href="../static/css/home/home.css" th:href="@{/css/home/home.css}" rel="stylesheet">
</head>
<body>
<!-- <div id="header">
 <header class="header sb-slide">
  <a href="http://localhost:8080/yonda/home" class="header-navs__logo">
   <img width="120" height="70" src="/img/yonda-logo.png">
  </a>
  <div>
   <div class="header-navs">
    ↓これは何の高さ？
    <div style="height: 100%">
     <span>
      htYxsDとは？
      <nav class="header_right__Navigation-sc-1qrtmeg-0 htYxsD header-navs__right">
       <div style="position: relative; color: rgb(43, 84, 106);">
        <div data-radium="true" style="cursor: pointer; transition: background-color 0.2s ease 0s; padding: 0px 15px; background-color: rgb(240, 244, 249);">
         <div id="my-menu-trigger" class="user_dropdown_Menu-sc-1530eqe-0">
         </div>
        </div>
       </div>
      </nav> 
     </span>
    </div>
   </div>
  </div>
 </header>
</div> -->

<!-- ヘッダー -->
<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
         
         <!-- YONDA?ロゴ -->
         <a href="http://localhost:8080/yonda/home" class="d-flex text-dark text-decoration-none">
          <img width="120" height="70" src="/img/yonda-logo.png">
         </a>
        
        <!-- 遷移先画面リンク -->
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">書籍登録</font></font></a></li>
          <li><a href="#" class="nav-link px-2 link-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">書籍一覧</font></font></a></li>
          <li><a href="#" class="nav-link px-2 link-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">蔵書検索</font></font></a></li>
          <li><a href="#" class="nav-link px-2 link-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">お気に入り</font></font></a></li>
        </ul>

        <!-- 登録済みの書籍用検索ボックス -->
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="検索..." aria-label="検索">
        </form>

        <!-- 個人アカウントアイコンとプルダウン -->
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">新しいプロジェクト...</font></font></a></li>
            <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">設定</font></font></a></li>
            <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">プロフィール</font></font></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">サインアウト</font></font></a></li>
          </ul>
          
        </div>
      </div>
    </div>
  </header>
ようこそYONDA？へ
<form th:action="@{/yonda/logout}">
<button type="submit">ログアウト</button>
</form>

  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">ホーム</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">特徴</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">価格設定</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQ</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">概要</a></li>
    </ul>
    <p class="text-center text-muted">© Book Manager</p>
  </footer>
</body>
</html>
