<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ユーザー登録</title>
	<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
<style>
html,body {  height: 100%;}body {  display: flex;  align-items: center;  padding-top: 40px;  padding-bottom: 40px;  background-color: #f5f5f5;}.form-signin {  width: 100%;  max-width: 330px;  padding: 15px;  margin: auto;}.form-signin .checkbox {  font-weight: 400;}.form-signin .form-floating:focus-within {  z-index: 2;}.form-signin input[type="email"] {  margin-bottom: -1px;  border-bottom-right-radius: 0;  border-bottom-left-radius: 0;}.form-signin input[type="password"] {  margin-bottom: 10px;  border-top-left-radius: 0;  border-top-right-radius: 0;}
</style>
<!-- 背景設定用 CSS -->
<link href="../static/css/back-ground/back-ground.css" th:href="@{/css/back-ground/back-ground.css}" rel="stylesheet">
</head>

<body class="text-center">
  <main class="form-signin">
    <form method="post" th:action="@{/yonda/user-registration-result}" th:object="${userRegistrationForm}" novalidate>
      <img class="mb w-100 h-100" src="/img/set-up/yonda-logo.png" alt="YONDA?">
      <h1 class="h3 mb-3 fw-normal text-muted">ユーザー登録</h1>
      <div>
       <label for="userName" class="text-muted">ユーザーネーム</label>
       <input id="userName" type="text" class="form-control" name="userName" placeholder="例）たろう" th:field="*{userName}" required>
       <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="text-danger">ERROR!</span>
      </div>
      <div>
       <label for="userEmail" class="text-muted">Email</label>
       <input id="userEmail" type="email" class="form-control" name="userEmail" placeholder="例）sample123@sample.com" th:field="*{userEmail}" required>
       <span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="text-danger">ERROR!</span>
       <span th:if="${errorEmail}" th:text="${errorEmail}" class="text-danger">ERROR!</span>
      </div>
      <div>
       <label for="userPassword" class="text-muted">Password（8〜16文字までの英数字）</label>
       <input id="userPassword" type="password" class="form-control" name="userPassword" placeholder="例）abcd1234" th:field="*{userPassword}" required>
       <span th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}" class="text-danger">ERROR!</span>
      </div>
      <div>
       <label for="userConfirmPassword" class="text-muted">Password（再確認）</label>
       <input type="password" class="form-control" name="userConfirmPassword" placeholder="例）abcd1234" th:field="*{userConfirmPassword}" oninput="CheckPassword(this)" required>
       <span th:if="${#fields.hasErrors('userConfirmPassword')}" th:errors="*{userConfirmPassword}" class="text-danger">ERROR!</span>
       <span th:if="${errorCheckPass}" th:text="${errorCheckPass}" class="text-danger">ERROR!</span>
      </div>
      <button class="btn btn-success" type="submit">登録</button>
   </form>
  <br>
  <a href="" th:href="@{/yonda/login}" class="text-decoration-none link-secondary">登録済みの方はこちら>>></a>
  <p class="mt-5 mb-3 text-muted">© Book Manager</p>
  </main>
  <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>